<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Paltarumi" value="https://pkgs.dev.azure.com/Paltarumi/SistemaAcopio/_packaging/Paltarumi/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TelerikNuGetV3>
      <add key="Username" value="%FeedUsername%" />
      <add key="ClearTextPassword" value="%FeedClearTextPassword%" />
    </TelerikNuGetV3>
    <Paltarumi>
      <add key="Username" value="wcanchan@hotmail.com" />
      <add key="ClearTextPassword" value="etvtym37nr3lnpzl6c6t7gfitbjxdu2bz6t7cbf5zxzcmpxdrcsa" />
    </Paltarumi>
  </packageSourceCredentials>
</configuration>
